
<!DOCTYPE html>

    <nav>
        <ul>
            <li>
                <a href="/static_pages/home">Gift</a>
            </li>
            <li>
                <a href="/static_pages/about">About</a>
            </li>
            <li>
                <a href="/static_pages/help">New</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>

