<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
</head>
<body>
    <h1>About</h1>
    <nav>
        <ul>
            <li>
                <a href="/static_pages/home">Roll</a>
            </li>
            <li>
                <a href="/static_pages/about">About</a>
            </li>
            <li>
                <a href="/static_pages/help">Help</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>
    <p>There are one homepage and three static pages in this web.</p>
    <p>Roll contains the dice result.</p>
</body>
</html>