<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
</head>
<body>
    <h1>About</h1>
    <nav>
        <ul>
            <li>
                <a href="/static_pages/home">Gift</a>
            </li>
            <li>
                <a href="/static_pages/about">About</a>
            </li>
            <li>
                <a href="/static_pages/help">Help</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>
    <p>You might want to know what your gift means</p>
    <p>Every flower says...</p>

    <ul class="datasets">
        <% @datasets.each do |dataset| %>
        <li>
            <%= dataset.name %>, <%= dataset.add %>
        </li>
        <% end %>
    </ul>
</body>
</html>