<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
</head>
<body>

    <nav>
        <ul>
            <li>
                <a href="/static_pages/home">Roll</a>
            </li>
            <li>
                <a href="/static_pages/about">About</a>
            </li>
            <li>
                <a href="/static_pages/help">Help</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>

    <p>Using the navigation bar above to explore the website. </p>
</body>
</html>