<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <h1>This is Help Page</h1>
    <p>This page can help you navigate through the website</p>

<nav>
    <ul>
        <li>
            <a href="/static_pages/home">Home</a>
        </li>
        <li>
            <a href="/static_pages/about">About</a>
        </li>
        <li>
            <a href="/">Back</a>
        </li>
    </ul>
    </nav>
</body>
</html>