<% provide(:title, "Gift") %>
<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
</head>
<body>
    <h1>Hi... Here is a little gift...</h1>
    <nav>
        <ul>
            <li>
                <a href="/static_pages/home">Gift</a>
            </li>

            <li>
                <a href="/static_pages/about">About</a>
            </li>
            <li>
                <a href="/static_pages/help">Help</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>

    <h1>For you</h1>
    <p><%= @result %></p>
    <h2> Remember your flowers and check the About Page for what it means</h2>
    <form>
        <button formaction="/static_pages/home">Change</button>
    </form>

</body>
</html>