<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <h1>This is Home Page</h1>
    <p>Go you any other pages from here...</p>

    <nav>
        <ul>
            <li>
                <a href="/static_pages/help">Help</a>
            </li>
            <li>
                <a href="/static_pages/about">About</a>
            </li>
            <li>
                <a href="/">Back</a>
            </li>
        </ul>
    </nav>
</body>
</html>