<% provide(:title, "Roll") %>
<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
</head>
<body>
    <h1>Roll a dice</h1>
    <nav>
        <ul>
            <li>
                <a href="/static_pages/home">Roll</a>
            </li>

            <li>
                <a href="/static_pages/about">About</a>
            </li>
            <li>
                <a href="/static_pages/help">Help</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>

    <h1>Result</h1>
    <p><%= @result %></p>
    <form>
        <button formaction="/static_pages/home">Roll</button>
    </form>
</body>
</html>