
<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <h1>Welcome to Home.</h1>

    <nav>
        <ul>
            <li>
                <a href="/static_pages/home">Gift</a>
            </li>
            <li>
                <a href="/static_pages/about">About</a>
            </li>
            <li>
                <a href="/static_pages/help">New</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>


    <%= image_tag "sakura.png" %>
</body>

</html>

<footer>
    <p>Designed in Grinnell, IA</p>
</footer>