
<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <h1>Welcome to Home.</h1>
    <p>For this week, I add a roll-dice feature.</p>
    <p>Check it out by clicking Roll. </p>

    <nav>
        <ul>
            <li>
                <a href="/static_pages/home">Roll</a>
            </li>
            <li>
                <a href="/static_pages/about">About</a>
            </li>
            <li>
                <a href="/static_pages/help">Help</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>
</body>
</html>