
<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <h1>This is a root page</h1>
    <p>Here are three more pages to go to...</p>

    <nav>
        <ul>
            <li>
                <a href="/static_pages/home">Home</a>
            </li>
            <li>
                <a href="/static_pages/about">About</a>
            </li>
            <li>
                <a href="/static_pages/help">Help</a>
            </li>
        </ul>
    </nav>
</body>
</html>