
<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <h1>Welcome to Home.</h1>

    <nav>
        <ul>
            <li>
                <a href="/static_pages/home">Gift</a>
            </li>
            <li>
                <a href="/static_pages/about">About</a>
            </li>
            <li>
                <a href="/static_pages/help">New</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>
    </p> Welcome to this site!<p>
    </p> When I was designing the theme for this site, I was thinking about all the things that makes me relaxed
    and happy.<p>
    </p> Spring is here and it is a season for flowers.<p>
    </p> I read about the sakura viewing from my other classes, and we used to see tulips in May every year.<p>
    </p> Although we are not going anywhere this year, I find keep track of the flowers a pleasant thing to do.<p>
    </p> Hope everyone stay safe and home.<p>

    <%= image_tag("sakura.png", size: "16", alt: "sakura") %>
</body>

</html>

<footer>
    <p>Designed in Grinnell, IA</p>
    <p>Spring 2020</p>
</footer>