
<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <h1>Welcome to Home.</h1>

    <nav>
        <ul>
            <li>
                <a href="/static_pages/home">Gift</a>
            </li>
            <li>
                <a href="/static_pages/about">About</a>
            </li>
            <li>
                <a href="/static_pages/help">New</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>
    <p> Welcome to this site!</p>
    <p> This is a website that is developed with Ruby on Rails and it works both locally and remotely.</p>
    <p> There are one home page and three static pages with consistent headers using HTML, formatting with CSS.</p>
    <p> Some pages have use of assets.</p>
    <p> Each page contains some dynamic features coded with Ruby, and the functions are tested.</p>
    <p> There is also a database in use to manage data as well as a form that takes in new data entries.</p>

<p> Hope everyone stay safe and home.</p>

    <%= image_tag("sakura.png", size: "16", alt: "sakura") %>
</body>

</html>

<footer>
    <p>Designed in Grinnell, IA</p>
    <p>Spring 2020</p>
</footer>